body {
    margin: 0;
    background-color: black;
    height: 100vh;
   
}
#container {
    /* border: 1px solid grey; */
    width:120px;
    height:100px;
    background-color: aqua;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
}
.item {
    width: 100px;
    height: 50px;
    border: 1px solid white;
    margin:10px;
}

    
.item-1{
    background-color:red;
    transition-property: width ;
    transition-duration :200ms;

}
.item-2{
    background-color:blue;
    transition-property: width;
    transition-duration :200ms;
    transition-delay: 200ms;
}
.item-1:hover 
{

width :150px;

}
.item-1:hover ~.item-2
{

width :150px;

}


    

