
/* Intro to Flexbox */



body{
  background-color:black;
  }

.flex-container{
  display: flex;
  justify-content:space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  height: 100vh;
}
.blueitem{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 align-items: center;
 width: 200px;
 border: 10px;
 height: 200px;
 background-color:blue;
 
  }
.reditem{
  width: 40px;
  height: 40px;
  border: 10px;
  background-color: red;
}
.dotclasitem{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  }
.dot{
  width: 3px;
  height: 3px;
  background-color: cyan ;
}