body {
    font-size: 2em;
  }
  
  #events {
    width: 20em;
  }
  
  .response {
    float: right;
    background-color: crimson;
    color: white;
  }
  
  .borough {
    background-color: navy;
    color: white;
    padding: 0.5em
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  body {
    background-color: lightgray;
    padding-left: 5vw;
  }
  
  #event-listing {
    list-style-type: "🚨";
  }
  
  input {
    height: 2em
  }
 
  